
.icon-phone:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */